@import "typography.css"; /* Typography */
@import "style.css";      /* Design Elements */

/* -------------- General Rules ---------------*/

body,
html {
    margin: 0;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

/* ----------------- Layout -------------------*/

main {
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;

    /* Large Screens */
    max-width: 1280px;
}

.post-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #fffffc;
    border-radius: 3px 3px 0 0;
}

/* ---------- Design Specific - Post ----------*/

.row-title {
    flex: 1 1 100%;
}

.card-heading {
    margin: 0;
}

.row-full {
    flex: 1 1 100%;
}

.row-half {
    flex: 1 1 45%;
    min-width: 250px;
}

.row-third {
    flex: 1 1 25%;
    min-width: 200px;
}

article > * {
    padding: 0 0.3em;
}

.bottom-line {
    border-width: 0;
    border-bottom: 0.5px solid #F95959;
}

.left-line {
    border-width: 0;
    border-left: 0.5px solid #F95959;
}

/* --------------- Large Screens --------------*/

@media only screen and (min-width: 768px) {
    article {
        padding: 0 2em;
    }
}