@import "typography.css";

body, html {
    margin: 0;
    width: 100%;
    height: auto;
    background-image: url("../assets/images/bg-white.jpg");
    background-size: stretch;
}

main {
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 2.5em 8px 3px;
    grid-template-areas: 
    "post-article"
    "post-nav"
    "post-fx1"
    "post-fx2";
}

article {
    border-radius: 3px 3px 0 0;
}

.post-container {
    grid-area: post-article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffffc;
}

header > img {
    border-radius: 3px 3px 0 0;
    max-width: 100%;
    height: auto;
}

header > h1 {
    padding: 0 5px;
}

.post-main {
    padding: 5px;
}

nav {
    grid-area: post-nav;
    background-color: #fffffc;
    border-radius: 0 0 2px 2px;
}

.effect {
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 0 0 2px 2px;
}

.fx-top {
    grid-template-areas: post-fx1;
    width: 80%;
    background-color: #2A9D8F;
    opacity: 60%;

}

.fx-bottom {
    grid-template-areas: post-fx2;
    width: 60%;
    background-color: #264653;
    opacity: 60%;
}

button {
    background-color: #fffffa;
    color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 1em;
    width: 2em;
    height: 2em;
}

button:hover {
    color: #F4A261;
    border-color:#F4A261; 
}

button:active {
    background-color: #E76F51;
    color: #fffffa;
    border-color:#F4A261; 
    transform: translateY(1px);
}