@import "typography.css";

body, html {
    margin: 0;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

main {
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-template-areas:
    "post-main"
    "post-nav";

    /* Large Screens */
    max-width: 1280px;
}

.post-container {
    grid-area: post-main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #fffffc;
    border-radius: 3px 3px 0 0;
}

h3.row-title {
    flex: 1 1 100%;
}

.row.full {
    flex: 1 1 100%;
}

.row.half {
    flex: 1 1 45%;
    min-width: 250px;
}

.row.third {
    flex: 1 1 25%;
    min-width: 200px;
}

img {
    max-width: 100%;
    height: auto;
}

header > h1, article > .row {
    padding: 0 .3em;
}

nav {
    grid-area: post-nav;
    background-color: #fffffc;
    border-radius: 0 0 2px 2px;
}


button {
    background-color: #fffffa;
    color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 1em;
    width: 2em;
    height: 2em;
}

button:hover {
    color: #F4A261;
    border-color:#F4A261; 
}

button:active {
    background-color: #E76F51;
    color: #fffffa;
    border-color:#F4A261; 
    transform: translateY(1px);
}


@media only screen and (min-width: 768px) {
    header > h1, .post-main {
        padding: 0 2em;
    }

    button {
        width: 3em;
        height: 3em;
        border-radius: 1.5em;
    }
  }