@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap);

/* -------------- General Rules ---------------*/

body,
html {
    font: 16px "Open Sans", sans-serif;
    text-align: left;
    color: #111;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: none;
    font-weight: 300;
}

/* ------------------ Titles ------------------*/

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
}

header > h1 {
    font-weight: 600;
    font-size: 3.4em;
}

h2 {
    font-size:  1.4em;
    font-weight: 100;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
    color: #444;
}

h3 {
    font-size: 1.6em;
    font-weight: 300;
}

/* ------------------ Common ------------------*/

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #f95959;
    transition: 0.2;
}

.arrow::after {
    content: "  \2197";
}

nav {
    text-align: center;
}

small {
    color:#666;
    font-size: 0.7em;
}

i {
    font-weight: 300;
    letter-spacing: 0.05em;
}

b,
strong {
    font-weight: 600;
    letter-spacing: -0.05em;
}

u {
    font-weight: 300;
    background-color: #ffdcdc;
}

blockquote {
    border-left: #F95959 1px solid;
    padding-left: 0.5em;
    margin-left: 1.5em;
}

li {
    margin-top: 1em;
    list-style: inside none;
    line-height: 0.5em;
}

/* -------------- Design Specific -------------*/

.white {
    color: #fffff8;
}

.centered {
    text-align: center;
}

.tight {
    letter-spacing: -0.05em;
    word-spacing:-0.05em;
}

.medium {
    font-weight: 400;
}

.red {
    color: #f95959;
}

.gray {
    color:#666;
}

/* ---------- Design Specific - Card ----------*/

.card {
    word-wrap: break-word;
}

.cat {
    font-size: .7em;
}

.author-name {
    text-align: right;
}

/* ---------- Design Specific - Post ----------*/

.row > p {
    text-indent: 1.5em;
    line-height: 1.5em;
}

.tag {
    line-height: 1.5em;
}

/* --------------- Large Screens --------------*/

@media only screen and (min-width: 768px) and (orientation:portrait) {

    body, html {
        font-size: 18px;
    }

    p {
        line-height: 1.8em;
    }

    h1 {
        font-size: 3.4em;
    }

    h2 {
        font-size: 3em;
        font-weight: 400;
    }
}